{% extends 'base.html.twig' %}

{% block title %}Customers index{% endblock %}

{% block body %}
    <h1>Customers index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>FirstName</th>
                <th>LastName</th>
                <th>DateOfBirth</th>
                <th>Status</th>
                <th>CreatedAt</th>
                <th>UpdatedAt</th>
                <th>DeletedAt</th>
                <th>Products</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for customer in customers %}
            <tr>
                <td>{{ customer.id }}</td>
                <td>{{ customer.firstName }}</td>
                <td>{{ customer.lastName }}</td>
                <td>{{ customer.dateOfBirth ? customer.dateOfBirth|date('Y-m-d') : '' }}</td>
                <td>{{ customer.status }}</td>
                <td>{{ customer.createdAt ? customer.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ customer.updatedAt ? customer.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ customer.deletedAt ? customer.deletedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ customer.products }}</td>
                <td>
                    <a href="{{ path('app_customers_show', {'id': customer.id}) }}">show</a>
                    <a href="{{ path('app_customers_edit', {'id': customer.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="10">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_customers_new') }}">Create new</a>
{% endblock %}
